body{
	background: #f2f2f2;
}

.board{
	width: 700px;
	height: 600px;
}

.game{
	position: relative;
	width: 700px;
	margin: 100px auto 0;
	background: #00658F;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 10px 43px -16px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 43px -16px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 43px -16px rgba(0,0,0,0.75);
}

.your_color{
	position: absolute;
	top: -90px;
	margin-left: 5px;
	width: 90px;
	height: 90px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	background: #000;
}

.board .overlay{
	position: absolute;
	z-index: 10000;
	left: 0;
	top: 0;
	pointer-events: none;
}

.cols{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
}

.cols > .col{
	position: relative;
	float: left;
	width: 100px;
	height: 100%;
}

.coin{
	position: absolute;
	left: 5px;
	margin-top: 5px;
	width: 90px;
	height: 90px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
}

.red{
	background: #EE2121;
}
.yellow{
	background: #F6E851;
}

.hidden{
	display: none;
}